$background-principal: #f6f6f6;
$font-principal: 'Montserrat', sans-serif;
$font-secundaria: 'Barlow Condensed', sans-serif;;
$font-color-principal: #514F4F; 
$font-color-secundario: #DAD7D7; 
$color-gris-principal: #514F4F; 
$color-gris-secundario: #DAD7D7; 

:root {
    --dark-color-lighten: #f2f5ff;
    --red-card: #a62121;
    --blue-card: #4bb7e6;
    --btn: #141414;
    --btn-hover: #3a3a3a;
    --text: #fbf7f7;
}