$background-principal: #f6f6f6;
$font-principal: 'Montserrat', sans-serif;
$font-secundaria: 'Barlow Condensed', sans-serif;;
$font-color-principal: #514F4F; 
$font-color-secundario: #DAD7D7; 
$color-gris-principal: #514F4F; 
$color-gris-secundario: #DAD7D7; 