footer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(5,60px);
    .seccion-links-footer1{
        display: flex;
        flex-direction: column;
        grid-column-start: 1;
        grid-column-end: 2;
        align-items: center;
        grid-row-start: 1;
        grid-row-end: 3;
        justify-content: center;
        gap: 10px;
        a{
            text-decoration: none;
            font-family: $font-principal;
            font-size: 12px;
            color: $font-color-principal;
        }
    }
    .seccion-links-footer2{
        display: flex;
        flex-direction: column;
        grid-column-start: 2;
        grid-column-end: 3;
        align-items: center;
        grid-row-start: 1;
        grid-row-end: 3;
        justify-content: center;
        gap: 10px;
        a{
            text-decoration: none;
            font-family: $font-principal;
            font-size: 12px;
            color: $font-color-principal;
        }
    }

    .seccion-conecta-con-nosotros{
        display: flex;
        flex-direction: column;
        grid-column-start: 1;
        grid-column-end: 3;
        // border: 3px solid red;
        align-items: center;
        p{
            font-family: $font-principal;
            font-size: 16px;
        }
        div{
            img{
                width: 35px;
                padding: 5px;
            }
        }
    }

    .seccion-descarga-la-app{
        @extend .seccion-conecta-con-nosotros;
        img{
            width: 60%;
        }
    }

    .div-logo-footer{
        display: grid;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 6;
        justify-items: center;
        align-items: center;
        img{
            width: 35%;
        }
    }
}