body {
    background-color: $background-principal;
}

header {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 2;

    img {
        width: 50%;
    }

    nav {
        display: flex;
        justify-content: center;
        background-color: $color-gris-secundario;
        height: 30px;
        width: 100vw;

        ul {
            display: flex;
            list-style: none;
            gap: 30px;
            align-items: center;

            li {
                a {
                    text-decoration: none;
                    font-family: $font-principal;
                    color: $font-color-principal;

                    &:hover {
                        color: rgb(4, 0, 0);
                    }
                }

                .botonnike,
                .botonadidas,
                .botoncontacto {
                    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
                    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
                }

                @-webkit-keyframes tracking-in-expand {
                    0% {
                        letter-spacing: -0.5em;
                        opacity: 0;
                    }

                    40% {
                        opacity: 0.6;
                    }

                    100% {
                        opacity: 1;
                    }
                }

                @keyframes tracking-in-expand {
                    0% {
                        letter-spacing: -0.5em;
                        opacity: 0;
                    }

                    40% {
                        opacity: 0.6;
                    }

                    100% {
                        opacity: 1;
                    }
                }
            }
        }
    }
}