@media (min-width:1920px) {

body{
    overflow-x: hidden;
}
    header {
        nav {
            height: 40px;

            ul {
                li {
                    font-size: 17px;
                    transition: all .5s;
                }
            }
        }
    }

    main {
        display: grid;
        grid-template-columns: repeat(15, 128px);

        .cuadrado-contenedor-texto {
            grid-column-start: 2;
            grid-column-end: 7;
            grid-row-start: 3;
            grid-row-end: 5;
        }

        .seccion-titulo-arriba-productos {
            margin-top: -45%;
            grid-row-start: 5;
            grid-row-end: 6;
        }

        .primera-linea-productos {
            display: flex;
            flex-direction: row;
            grid-column-start: 1;
            grid-column-end: 16;
            grid-row-start: 6;
            grid-row-end: 7;
            gap: 100px;

            div {
                .imgs {
                    width: 70%;
                    transition: all .5s;
                }

                h2 {
                    font-size: 22px;
                    transition: all .5s;
                }

                p {
                    font-size: 16px;
                    transition: all .5s;
                }

                .precio {
                    font-size: 20px;
                    transition: all .5s;
                }
            }
        }

        .segunda-linea-productos {
            display: flex;
            flex-direction: row;
            grid-column-start: 1;
            grid-column-end: 16;
            grid-row-start: 7;
            grid-row-end: 9;
            margin-top: 5%;
        }

        .noticias {
            display: flex;
            flex-direction: row;
            // border: 1px solid blue ;
            height: 100%;
            grid-row-start: 9;
            grid-row-end: 12;
            grid-column-start: 1;
            grid-column-end: 16;
            margin-top: 4%;

            article {
                // border: 1px solid red;
                margin-top: -0.1%;
                height: 103%;
                transition: all .5s;

                div {
                    margin-top: -12%;
                    transition: all .5s;

                    h2 {
                        font-size: 16px;
                        transition: all .5s;
                    }

                    h3 {
                        font-size: 29px;
                        transition: all .5s;
                    }

                    p {
                        font-size: 18px;
                        transition: all .5s;
                    }

                    a {
                        font-size: 20px;
                        transition: all .5s;
                    }
                }
            }
        }
    }

    footer {
        .seccion-links-footer1 {
            a {
                font-size: 22px;
                transition: all .5s;
            }
        }

        .seccion-links-footer2 {
            a {
                font-size: 22px;
                transition: all .5s;
            }
        }

        .seccion-descarga-la-app {
            p {
                font-size: 22px;
                transition: all .5s;
            }
        }

        .seccion-conecta-con-nosotros {
            p {
                font-size: 22px;
                transition: all .5s;
            }

            div {
                display: flex;
                flex-direction: row;
                grid-column-start: 3;
                grid-column-end: 4;
                justify-content: center;
                gap: 15px;

                .logo-rrss {
                    width: 50px;
                    transition: all .5s;
                }
            }
        }
    }



}