@media (min-width:1440px) {
    body{
        overflow-x: hidden;
    }
    header {
        div {
            img {
                width: 15%;
                transition: all .5s;
            }
        }

        nav {
            ul {
                li {
                    margin: 15px;
                    font-size: 18px;
                    transition: all .5s;
                }
            }
        }
    }

    main {
        display: grid;
        grid-template-columns: repeat(10, 144px);
        grid-template-rows: repeat(12, 163px);

        .cuadrado-contenedor-texto {
            grid-column-start: 1;
            grid-column-end: 5;
            height: 65%;
            border-radius: 3px;
            transition: all .5s;

            div {
                p {
                    font-size: 18px;
                    transition: all .5s;
                }

                h2 {
                    font-size: 48px;
                    transition: all .5s;
                }
            }

            p {
                font-size: 18px;
                transition: all .5s;
            }
        }

        .primera-linea-productos {
            display: flex;
            flex-direction: row;
            grid-column-start: 1;
            grid-column-end: 11;
            justify-content: center;
        }

        .seccion-suscribirse {
            div {
                h2 {
                    font-size: 38px;
                    transition: all .5s;
                }

                input {
                    width: 380px;
                    transition: all .5s;
                }

                .boton-enviar {
                    font-size: 24px;
                    transition: all .5s;
                }

                .texto-terminosycondiciones {
                    font-size: 16px;
                    transition: all .5s;
                }

                p {
                    font-size: 14px;
                    transition: all .5s;
                }
            }
        }
    }
}